body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(176, 207, 176);
}

a {
  color: #00B7FF;
}

.btn {
  margin-top: 5%;
}

li {
  padding: 1rem;
}

#delete-btn {
  margin: .5rem;
}

#skills-links {
  font-size: 30px;
}

#level {
  font-size: 25px;
  margin-top: .25rem;
}